@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic');

.reg {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.med {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.sbold {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.exbold {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
}

.monblack {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.main_green {
    background: #8EB16A;
}

.violet {
    background: #83718A;
}

.white {
    background: #F6F6F6;
}

body {
    background-image: url(../img/back.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.back {
    background-image: url(../img/back2.svg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.sec_green {
    background: #E2E0CB;
}

.navbar {
    padding: 20px 80px 20px !important;
    transition: all ease-out 0.25s;
}

.scrolled {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(131, 113, 138, 0.15);
}

.logo {
    background: url(../img/logo.svg);
}

.logo>path {
    fill: #fff;
    transition: all ease-in 0.5s;
}

.scrolled>.navbar-brand>.logo>path {
    fill: none;
}

.navbar-brand {
    margin-right: 132px;
    font-size: 28px;
    line-height: 34px;
}

.scrolled>button>span>svg>rect {
    fill: #000;
}

@media screen and (max-width:1350px) {

    .navbar-brand {
        margin-right: 0;

    }

    .navbar {
        padding: 15px !important;
        width: 100vw;
    }

    .right>div>img {
        position: absolute;
        width: 287px;
        height: auto;
        bottom: 14vh;
        background-image: url(../img/Zero.svg);
        padding-top: 210px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media screen and (max-width:778px) {

    .scrolled.show {
        background: #8EB16A;
    }
}

.navbar-nav {
    font-size: 16px;
    line-height: 20px;

}

.navbar-nav>.nav-item>.nav-link:link,
.navbar-nav>.nav-item>.nav-link:hover,
.navbar-nav>.nav-item>.nav-link:visited {
    color: #F6F6F6 !important;
    padding-left: 16px;
    padding-right: 16px;
}


.scrolled>.navbar-collapse>.navbar-nav>.nav-item>.nav-link:link,
.scrolled>.navbar-collapse>.navbar-nav>.nav-item>.nav-link:hover,
.scrolled>.navbar-collapse>.navbar-nav>.nav-item>.nav-link:visited {
    color: #000 !important;
}

.btn-navbar {
    width: 228px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    .violet;
    color: #F6F6F6;
    border-radius: 0;
}

.scrolled .btn-navbar {
    .main_green;
}

.navbar-toggler-icon>svg>rect {
    fill: #fff;
}

.navbar-toggler-icon {
    background-image: none !important;
}

.navbar-toggler {
    border: none;
    color: #fff !important;
}

.first {
    background: linear-gradient(to right, #8EB16A 67%, #E2E0CB 67%);
    height: 100vh;
    min-height: 568px;
    overflow-x: hidden;
}

.spec>div {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-block {
    height: 90vh;
}

.first-block-title {
    padding-top: 80px;
}

.first-block-title>h1 {
    .exbold;
    font-size: 56px;
    line-height: 82px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.first-block-title>h4 {
    .sbold;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
}

.spec>div>h5 {
    .med;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin-left: 28px;
}

.right {
    height: 100vh;
}

.right>div>img {
    position: absolute;
    width: 820px;
    height: auto;
    bottom: 14vh;
    background-image: url(../img/Zero.svg);
    padding-top: 210px;
    background-repeat: no-repeat;
    background-size: contain;
}

.spec {
    padding: 19px;
}

.more {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    min-height: 48px;
}

.more>a:link,
.more>a:hover,
.more>a:visited {
    .sbold;
    font-size: 24px;
    line-height: 35px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    position: relative;
}

.fix-right {
    padding-right: 0 !important;
}

.more>a::after {
    content: url(../img/down.svg);
    position: absolute;
    right: -16px;
    top: -3px;

}

@media screen and (max-width:780px) {
    .navbar-collapse {
        background: #8EB16A;
    }

    .logo {
        height: 32px;
        width: 118px;
        background-size: cover;
    }

    .first {
        background: linear-gradient(to bottom, #8EB16A 67%, #E2E0CB 67%);
    }

    .right {
        height: auto;
        text-align: center;
    }

    .right>div>img {
        position: relative !important;
        width: 287px !important;
        background-image: url(../img/Zerom.svg);
        padding-top: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
    }

    .first-block-title>h1 {
        font-size: 28px;
        line-height: 120%;
        margin-bottom: 8px;
    }

    .first-block-title>h4 {
        font-size: 14px;
        line-height: 146.28%;
    }

    .spec>div>h5 {
        font-size: 14px;
        line-height: 120%;
        margin-left: 16px;

    }

    .spec {
        padding: 8px;
        padding-left: 17px;
    }

    .fix-right {
        padding-left: 0 !important;
    }

    .more>a:link,
    .more>a:hover,
    .more>a:visited {
        .sbold;
        font-size: 16px;
        line-height: 146.28%;

    }
}

.products {}

.products-title>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-top: 240px;
    margin-bottom: 72px;
    position: relative;
}

.products-title>h2::before {
    position: absolute;
    content: url(../img/line.svg);
    left: -100px;
    bottom: 10px;
}

.nav-tabs {
    border: none;
    display: flex;
    justify-content: space-between;
}

.nav-tabs>.nav-item {
    border: none;
    width: auto;
    flex-grow: 1;
}

.nav-tabs>.nav-item>.nav-link {
    .sbold;
    color: #000;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    background: #F6F6F6;
}

.nav-tabs>.nav-item>.active {
    border: none;
    .violet;
    border-radius: 0;
    color: #fff;
}

.product {
    height: 280px;
    width: 360px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 4.5%, #F6F6F6 4.5%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 56px 0 0;
}

.product>.product-title>h3 {
    .exbold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #212121;
}

.product>.product-title>p {
    .reg;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: #212121;
    opacity: 0.7;
}

.product>.product-title>p>span {
    .sbold;
    opacity: 1;
}

.product>img {
    position: absolute;
    top: 56px;
}

.product>.product-title {
    padding: 0 24px 24px;
}

.product-bottom {
    padding: 0 24px 24px;
    display: flex;
    justify-content: space-between;
}

.product>div>p {
    .reg;
    font-size: 13px;
    line-height: 160%;
    color: #212121;
    margin-bottom: 0;
}

.btn-price,
.btn-price:hover,
.btn-price:visited {
    margin-top: 56px;
    width: 284px;
    height: 48px;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .bold;
    color: #FFFFFF;
    .violet;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:1220px) {
    .nav-tabs>.nav-item>.nav-link {
        width: 100%;
    }

    .products-block>.col-12 {
        display: flex;
        justify-content: center;
    }

    .products-title>h2 {
        .bold;
        font-size: 24px;
        line-height: 160%;
        margin-left: 32px;
        margin-top: 120px;
        margin-bottom: 24px;

    }

    .products-title>h2::before {
        position: absolute;
        content: url(../img/line.svg);
        left: -72px;
        bottom: 8px;
    }

    .mnav-tabs>.nav-item>.nav-link {
        width: 92vw;
        height: 40px;
        font-size: 14px;
        line-height: 19px;
    }

    .product {
        height: 208px;
        width: 288px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 4.5%, #F6F6F6 4.5%);
        margin: 24px 0 0;
    }

    .product>.product-title>h3 {
        font-size: 16px;
        line-height: 146.28%;
        letter-spacing: 0.2em;
    }

    .product>.product-title>p {
        font-size: 12px;
        line-height: 146.28%;
    }

    .product>.product-title>p>span {
        font-size: 12px;
        line-height: 146.28%;
    }

    .product>img {
        position: absolute;
        top: 32px;
        height: 208px;
        width: 280px;
    }

    .product>.product-title {
        padding: 0 24px 24px;
    }

    .product-bottom {
        padding: 0 8px 8px;
        display: flex;
        justify-content: space-between;
    }

    .product>div>p {
        .reg;
        font-size: 13px;
        line-height: 160%;
        color: #212121;
        margin-bottom: 0;
    }

    .btn-price:link,
    .btn-price:hover,
    .btn-price:visited {
        font-size: 14px;
        line-height: 17px;
    }
}

.prosc {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0) 30%, #E2E0CB 30%);
    margin-top: 240px;
    padding-top: 80px;
    padding-bottom: 64px;
}

.prosc-title>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #212121;
    position: relative;
}

.prosc-title>h2::before {
    position: absolute;
    content: url(../img/line.svg);
    left: -100px;
    top: -10px;
}

.pros {
    padding: 19px;
}

.pros>div {
    display: flex;
    align-items: center;
}

.pros>div>h5 {
    .med;
    font-size: 16px;
    line-height: 140%;
    color: #212121;
    margin-left: 28px;
}

@media screen and (max-width:780px) {
    .prosc {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 5%, #E2E0CB 5%);
        margin-top: 120px;
        padding-top: 0px;
        padding-bottom: 32px;
    }

    .prosc-title>h2 {
        font-size: 24px;
        line-height: 160%;
    }

    .pros>div>h5 {
        font-size: 14px;
        line-height: 120%;
        margin-left: 25px;
    }

    .pros>div>h5>br {
        display: none;
    }
}

.target {
    width: 460px;
    height: 456px;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.15);
}

.target>h4 {
    .sbold;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    z-index: 5;
    color: #212121;
    background: #fff;
    margin: 0;
    padding: 24px;
    width: 360px;

}

.target>img {
    position: absolute;
    top: 0;
    z-index: 1;
}

.targets {
    margin-top: 240px;
}

.fix-margin>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-bottom: 144px;
    color: #212121;
    position: relative;
}

.fix-margin>h2::before {
    position: absolute;
    content: url(../img/line.svg);
    left: -100px;
    top: -10px;
}

.fix-margin>div:first-of-type {
    .bold;
    margin-bottom: 144px;
}

@media screen and (max-width:780px) {
    .targets {
        margin-top: 120px;
    }

    .target {
        width: 288px;
        height: 288px;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.15);
    }

    .target>img {
        width: 288px;
        height: 288px;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .target>h4 {
        .sbold;
        font-size: 16px;
        line-height: 160%;
        padding: 24px;
        width: 272px;
    }

    .fix-margin>div:first-of-type {
        .bold;
        margin-bottom: 0;
    }

    .fix-margin>div {
        margin-top: 24px;
    }

    .fix-margin>h2 {
        font-size: 24px;
        line-height: 160%;
        margin-bottom: 0;
        padding-left: 49px;
        padding-right: 32px;
    }

    .fix-margin>h2>br {
        display: none;
    }

    .fix-margin>h2::before {
        left: -24px;
        top: -6px;
    }

    .fix-margin {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.price-row {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 10%, #8EB16A 10%, #8EB16A 85%, rgba(0, 0, 0, 0.0) 85%, );
    min-height: 618px;
    position: relative;
}

.price-row>img {
    position: absolute;
    bottom: 0;
    left: 60px;
    z-index: 999;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.15);
}

.price {
    margin-top: 240px;
}

.price-left>h2 {
    .exbold;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #212121;
    position: relative;
}

.price-left>h2:after {
    position: absolute;
    content: url(../img/line.svg);
    bottom: -22px;
}

.price-left {
    background: linear-gradient(to bottom, #F6F6F6 35%, #fff 35%);
    padding: 32px;
    margin-left: -1px;
}

.price-right {
    padding-top: 136px;
    color: #fff;
}

.price-right>h3 {
    .exbold;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.price-right>p {
    .med;
    font-size: 16px;
    line-height: 160%;
    margin-top: 24px;
}

.price-right>button,
.price-right>button:hover,
.price-right>button:visited {
    .bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    width: 244px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
    color: #212121;
    text-decoration: none;
    margin-top: 24px;
}

.price-right>div>p {
    .med;
    font-size: 16px;
    line-height: 160%;
    margin-top: 56px;
    margin-bottom: 0;
}

.price-right>div>a:link,
.price-right>div>a:hover,
.price-right>div>a:visited,
.price-right>div>span {
    .bold;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    padding: 2px;
    margin-top: 8px;
}

@media screen and (max-width:778px) {
    .price-row {
        background: #8EB16A;
    }

    .price {
        margin-top: 144px;
    }

    .price-row>img {
        display: none;
    }

    .price-left {
        background: #F6F6F6;
        padding: 32px;
        margin-left: -1px;
    }

    .price-left>h2 {
        font-size: 24px;
        line-height: 160%;
    }

    .price-left>h2>br {
        display: none;
    }

    .price-right {
        padding-top: 24px;
        color: #fff;
    }

    .price-right>h3 {
        font-size: 18px;
        line-height: 160%;
    }

    .price-right>p {
        font-size: 14px;
        line-height: 160%;
        margin-top: 16px;
    }

    .price-right>button,
    .price-right>button:hover,
    .price-right>button:visited {
        .bold;
        font-size: 14px;
        line-height: 17px;

        width: 288px;
        height: 40px;

    }

    .price-right>div>p {
        .med;
        font-size: 14px;
        line-height: 160%;
        margin-top: 64px;
        margin-bottom: 16px;
    }

    .price-right>div {
        display: flex;
        flex-wrap: wrap;
    }

    .price-right>div>span {
        display: none;
    }

    .price-right>div>a:link,
    .price-right>div>a:hover,
    .price-right>div>a:visited {
        font-size: 14px;
        line-height: 180%;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.payment {
    margin-top: 304px;
}

.payment-left {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 4%, #f6f6f6 4%, );
    min-height: 612px;
    background-repeat: no-repeat;
    background-image: url(../img/payment.svg);
    background-color: #F6F6F6;
    background-position: center;
    position: relative;
}

.payment-left>.row {
    background: linear-gradient(to bottom, #fff 5%, rgba(0, 0, 0, 0.0) 5%);
}

.payment-left>div>div>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #212121;
    margin-bottom: 56px;
    position: relative;
    margin-right: 176px;
}


.payment-left>div>div>h2::after {
    position: absolute;
    content: url(../img/line.svg);
    bottom: 10px;
    left: -100px;
}

.payment-left>div>div>div {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin-bottom: 48px;
    margin-right: 123px;
}

.payment-left>div>div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}

.payment-left>div>div>div>h4 {
    .med;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 16px;
    color: #212121;
}

.payment-left>div>div>div>p {
    .med;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: #212121;
}

@media screen and (min-width:779px) {
    .payment-left>div>div>h2>br {
        display: none;
    }
}

@media screen and (max-width:778px) {
    .payment {
        margin-top: 120px;
    }

    .payment-left {
        background-size: 216px 216px;
    }

    .payment-left>div>div>h2 {
        .bold;
        font-size: 24px;
        line-height: 160%;
        margin-bottom: 32px;
        margin-right: auto;
        margin-left: 32px;
    }

    .payment-left>div>div>div {
        width: auto;
        margin-bottom: 32px;
        margin-right: 0;
    }

    .payment-left>div>div>div>h4 {
        font-size: 14px;
        line-height: 120%;
    }

    .payment-left>div>div>div>img {
        width: 40px;
        height: 40px;
    }

    .payment-left>div>div>h2::after {
        top: -7px;
        left: -70px;
    }
}

.payment-right {
    min-height: 612px;
    background-repeat: no-repeat;
    background-image: url(../img/delivery2.svg);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.0);
}

.payment-right>div:first-of-type {

    margin-top: 164px;
}

.payment-right>div {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin-bottom: 48px;
    margin-left: 117px;
}

.payment-right>div>h4 {
    .med;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 16px;
    color: #212121;
}

.payment-right>div>p {
    .med;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: #212121;
}

@media screen and (max-width:778px) {
    .payment-right {
        min-height: 372px;
        background-size: 216px 216px;
    }

    .payment-right>div:first-of-type {
        margin-top: 40px;
    }

    .payment-right>div {
        width: auto;
        margin-bottom: 32px;
        margin-left: 0px;
    }

    .payment-right>div>img {
        width: 40px;
        height: 40px;
    }

    .payment-right>div>h4 {
        font-size: 14px;
        line-height: 120%;
    }
}

.clients {
    margin-top: 240px;
}

.clients-col>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.05em;
    color: #212121;
    position: relative;
}

.clients-col>h2::after {
    position: absolute;
    content: url(../img/line.svg);
    bottom: 10px;
    left: -80px;
}

.logo-clients>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-clients>div:first-of-type {
    margin-top: 80px;
}

.logo-clients>div:last-of-type {
    margin-top: 80px;
}

.logo-clients>div>img {
    flex-shrink: 1;
}

@media screen and (max-width:778px) {
    .clients {
        margin-top: 120px;
    }

    .clients-col>h2 {
        font-size: 24px;
        line-height: 160%;
        margin-left: 32px;
    }

    .clients-col>h2::after {
        position: absolute;
        content: url(../img/line.svg);
        top: -9px;
        left: -70px;
    }

    .logo-clients>div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .logo-clients>div:first-of-type {
        margin-top: 48px;
    }

    .logo-clients>div:last-of-type {
        margin-top: 0;
    }

    .logo-clients>div>img {
        flex-shrink: 1;
        margin-top: 48px;
    }

    .mobile-width {
        justify-content: space-between;
        width: 80%;
        margin-top: 48px;
    }
}

.reviews {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0) 27%, #E2E0CB 27%);
    min-height: 680px;
    overflow-x: hidden;
    margin-top: 240px;
}

.reviews-title {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-top: 72px;
    color: #212121;
    position: relative;
    margin-bottom: 56px;
}

.reviews-title::after {
    position: absolute;
    content: url(../img/line.svg);
    bottom: 10px;
    left: -80px;
}

.reviews-box {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 20vw;
}

.review {
    height: 344px;
    width: 560px;
    background: #FFFFFF;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.15);
    padding: 48px;
    margin-right: 40px;
}

.review>div {
    display: flex;
    flex-wrap: nowrap;
}

.review>div>div>p {
    width: 400px;
    height: 24px;
    margin: 0;
    padding-left: 16px;
    .sbold;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    display: flex;
    align-items: center;
    color: #212121;
}

.review>div>div>p:last-of-type {
    .med;
}

.btn-nav {
    margin-left: 172px;
    margin-top: 64px;
}



@media screen and (max-width:778px) {
    .reviews {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 27%, #E2E0CB 27%);
        min-height: 560px;
        overflow-x: hidden;
        margin-top: 120px;
    }

    .reviews-title {
        font-size: 24px;
        line-height: 160%;
        margin-left: 32px;
        margin-top: 0px;
        margin-bottom: 32px;
    }

    .reviews-title::after {
        position: absolute;
        content: url(../img/line.svg);
        bottom: 9px;
        left: -68px;
    }

    .reviews-box {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 10px;
        padding-right: 10px;
    }

    .review {
        width: 288px;
        height: 440px;
        background: #FFFFFF;
        box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.15);
        padding: 24px;
        margin-right: 0px;
        font-size: 13px;
        line-height: 180%;
        position: relative;
    }

    .review>div {
        display: flex;
        flex-wrap: nowrap;
        bottom: 24px;
        position: absolute;
    }

    .review>div>div>img {
        width: 48px;
        height: 48px;
    }

    .review>div>div>p {
        width: 176px;
        margin: 0;
        padding-left: 16px;
        .sbold;
        font-size: 13px;
        line-height: 180%;
        /* or 22px */
        display: flex;
        align-items: center;
        color: #212121;
    }

    .review>div>div>p:last-of-type {
        .med;
    }

}

.sert {
    margin-top: 240px;
}

.sert>div>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #212121;
    margin-bottom: 72px;

    position: relative;
}

.sert>div>h2::after {
    position: absolute;
    content: url(../img/line.svg);
    bottom: 10px;
    left: -80px;
}

.sert-block {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.sert-block>img {
    width: 260px;
    height: 368px;
}

.sert-block>h4 {
    .sbold;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
    color: #212121;
}



.gallery-title>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #212121;
    position: relative;
    margin-top: 240px;
    margin-bottom: 72px;
}

.gallery-title>h2::after {
    position: absolute;
    content: url(../img/line.svg);
    bottom: 10px;
    left: -80px;
}

.gallery {
    display: flex;
    padding: 0;
}

.gallery-img {
    

}

.gallery-img>img {
    width: 288px;
    height: 288px;
    padding: 20px;
}




.slick-arrow {
    position: absolute;
    bottom: -70px;
    font-size: 0;
    background: none;
    border: none;
    height: 32px;
    width: 32px;
    padding: 0;
    left: 30vw;
}
.slick-prev {
    background-image: url(../img/arrow-point-to-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 32px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-right: 24px;
}

.slick-next {
    background-image: url(../img/arrow-point-to-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 32px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    left: 33vw;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots>li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots>li>button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots>li::before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    content: '';
    text-align: center;
    background-color: #E2E0CB;
    -webkit-font-smoothing: antialiased;
    border-radius: 50%;

}

.slick-active::before {
    background-color: #8EB16A!important;
}
@media screen and (max-width:778px) {
    .gallery {
        justify-content: center;
    }

    .gallery-title>h2 {
        font-size: 24px;
        line-height: 160%;
        margin-top: 96px;
        margin-bottom: 36px;
        margin-left: 32px;
    }

    .gallery-title>h2::after {
        position: absolute;
        content: url(../img/line.svg);
        top: -5px;
        left: -70px;
    }
}

.que {
    background: linear-gradient(to right, #8EB16A 55%, rgba(0, 0, 0, 0.0) 55%);
    min-height: 616px;
    margin-top: 240px;
}

.que-left>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: relative;
    margin-top: 72px;
}

.que-left>h2::after {
    position: absolute;
    content: url(../img/line2.svg);
    top: -10px;
    left: -80px;
}

.que-left>p {
    .med;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    margin-top: 32px;
    color: #FFFFFF;
    width: 560px;
}

.form>input {
    .med;
    width: 260px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    line-height: 26px;
    height: 26px;
    margin-top: 40px;
    font-size: 16px;
    padding: 8px;
    padding-bottom: 10px;
    color: #FFFFFF;
}

.form>input::-webkit-input-placeholder {
    .med;
    width: 260px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    line-height: 26px;
    height: 26px;
    margin-top: 40px;
    font-size: 16px;
    padding: 8px;
    padding-bottom: 10px;
    color: #FFFFFF;
    opacity: 0.6;
}

.form>input[type='tel'] {
    margin-left: 35px;
}

.form>input:last-of-type {

    width: 560px;

}

.form>button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    width: 244px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
    color: #212121;
    text-decoration: none;
    margin-top: 56px;
    border: none;
}

.que-right {
    margin-top: 184px;
    display: flex;
    flex-direction: column;
    padding-left: 141px;
}

.que-right>h4 {
    .sbold;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */
    display: flex;
    align-items: center;

    color: #212121;
}

.que-right>a:link,
.que-right>a:hover,
.que-right>a:visited {
    .reg;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #212121;
    text-decoration: none;
}

.que-right>a:link:last-of-type,
.que-right>a:hover:last-of-type,
.que-right>a:visited:last-of-type {
    text-decoration: underline;
}

.social {
    margin-top: 24px;
    display: flex;

}

.social>a {
    height: 32px;
    width: 32px;
    background: #83718A;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social>a:last-of-type {
    margin-left: 24px;
}

@media screen and (max-width:778px) {
    .que {
        background: none;
        min-height: 616px;
        margin-top: 240px;
    }

    .que-left {
        background: #8EB16A;
    }

    .que-left>h2 {
        font-size: 24px;
        line-height: 160%;
        margin-top: 40px;
    }

    .que-left>h2::after {
        position: absolute;
        content: url(../img/line2.svg);
        top: -10px;
        left: -80px;
    }

    .que-left>p {
        font-size: 14px;
        line-height: 160%;
        width: auto;
        margin-top: 16px;
    }

    .form>input {
        .med;
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        line-height: 26px;
        height: 26px;
        margin-top: 40px;
        font-size: 16px;
        padding: 8px;
        padding-bottom: 10px;
        color: #FFFFFF;
    }

    .form>input::-webkit-input-placeholder {
        .med;
        width: 260px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #FFFFFF;
        line-height: 26px;
        height: 26px;
        margin-top: 40px;
        font-size: 16px;
        padding: 8px;
        padding-bottom: 10px;
        color: #FFFFFF;
        opacity: 0.6;
    }

    .form>input[type='tel'] {
        margin-left: 0px;
    }


    .form>input:last-of-type {
        width: 100%;
    }

    .form>button {

        width: 100%;
        height: 48px;

        margin-top: 24px;
        margin-bottom: 44px;
    }

    .que-right {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-bottom: 80px;
    }

    .que-right>h4 {
        font-size: 18px;
        line-height: 120%;
    }

    .que-right>a:link,
    .que-right>a:hover,
    .que-right>a:visited {
        font-size: 18px;
        line-height: 180%;
    }

}



footer {
    min-height: 80px;
    background: #F6F6F6;
}

footer>div>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

footer>div>div>div>p {
    .reg;
    font-size: 13px;
    line-height: 180%;
    /* or 23px */
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #959595;
}

footer>div>div>div>div>a:link,
footer>div>div>div>div>a:hover,
footer>div>div>div>div>a:visited {
    .reg;
    font-size: 13px;
    line-height: 180%;
    /* or 23px */
    margin-bottom: 0;
    color: #959595;
    margin-left: 32px;
}

@media screen and (max-width:778px) {

    footer>div>div>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: auto;
        padding-bottom: 16px;
    }

    footer>div>div>div>p {
        margin-top: 40px;
        font-size: 13px;
        line-height: 180%;
        /* or 23px */
        margin-bottom: 0;
    }

    footer>div>div>div>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
    }

    footer>div>div>div>div>a:link,
    footer>div>div>div>div>a:hover,
    footer>div>div>div>div>a:visited {
        margin-left: 0;
        line-height: 220%;

    }
}

.modal-dialog {

    width: 960px;
    max-width: 960px;

}

.modal-content {
    border-radius: 0;
    background: transparent;
    border: none;
    width: 960px;
    max-width: 960px;
    height: 616px;
    background: #8EB16A;
}

.modal-header {
    border: none;
}

.modal-body {
    padding: 0;
    border: none;
}

.close>span {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.question-modal {
    padding-left: 196px;
    padding-right: 196px;
}

.question-modal>h2 {
    .bold;
    font-size: 36px;
    line-height: 160%;
    /* or 58px */
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: relative;
    margin-top: 16px;
}

.question-modal>h2::after {
    position: absolute;
    content: url(../img/line2.svg);
    top: -10px;
    left: -80px;
}

.question-modal>p {
    .med;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    margin-top: 32px;
    color: #FFFFFF;
    width: 560px;
}

.form-modal>input {
    .med;
    width: 260px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    line-height: 26px;
    height: 26px;
    margin-top: 40px;
    font-size: 16px;
    padding: 8px;
    padding-bottom: 10px;
    color: #FFFFFF;
}

.form-modal>input::-webkit-input-placeholder {
    .med;
    width: 260px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    line-height: 26px;
    height: 26px;
    margin-top: 40px;
    font-size: 16px;
    padding: 8px;
    padding-bottom: 10px;
    color: #FFFFFF;
    opacity: 0.6;
}

.form-modal>input[type='tel'],
.form-modal>input[type='email'] {
    margin-left: 40px;
}

.form-modal>input[type='text']:last-of-type {

    width: 560px;

}

.form-modal>button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    width: 244px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
    color: #212121;
    text-decoration: none;
    margin-top: 56px;
    border: none;
}

@media screen and (max-width:778px) {
    .modal-dialog {
        width: 320px;
        max-width: 320px;
        margin: 0;
    }

    .modal-content {
        width: 320px;
        height: 569px;
    }

    .question-modal {
        padding-left: 16px;
        padding-right: 16px;
    }

    .question-modal>h2 {
        font-size: 24px;
line-height: 140%;
        margin-top: 16px;
    }

    .question-modal>h2::after {
        position: absolute;
        content: url(../img/line2.svg);
        top: -10px;
        left: -100px;
    }

    .question-modal>p {
        font-size: 14px;
line-height: 160%;
        width: auto;
    }

    .form-modal>input {
        width: 100%;
        margin-top: 24px;
    }


    .form-modal>input[type='tel'],
    .form-modal>input[type='email'] {
        margin-left: 0px;
    }

    .form-modal>input[type='text']:last-of-type {

        width: 100%;

    }

    .form-modal>button {
       
        width: 100%;
       
    }
}

@media screen and (max-width:778px) {
    .sert {
        margin-top: 120px;
    }

    .sert>div>h2 {
        font-size: 24px;
        line-height: 160%;
        margin-left: 32px;
    }

    .sert>div>h2::after {
        position: absolute;
        content: url(../img/line.svg);
        top: -10px;
        left: -70px;
    }

    .sert-block>h4 {
        display: none;
    }

    .sert-block>img {
        margin-bottom: 24px;
    }
    .slick-arrow {
        position: absolute;
        bottom: -40px;
        font-size: 0;
        background: none;
        border: none;
        height: 32px;
        width: 32px;
        padding: 0;
        left: 30vw;
    }
    .slick-prev {
        background-image: url(../img/arrow-point-to-left.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 32px;
        width: 32px;
        background-color: rgba(0, 0, 0, 0.0);
        border: none;
        
    }
    
    .slick-next {
        background-image: url(../img/arrow-point-to-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 32px;
        width: 32px;
        background-color: rgba(0, 0, 0, 0.0);
        border: none;
        left: 45vw;
    }
}